name: Reset Actionsflow Cache
on:
  workflow_dispatch:
jobs:
  reset:
    runs-on: ubuntu-latest
    name: Reset Actionsflow Cache
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Run Actionsflow Clean
        uses: actionsflow/actionsflow-action@877881186c58832926cbd76fb5674561749f7256 # v1.3.0
        with:
          args: clean
          json-secrets: ${{ toJSON(secrets) }}
